@model PostAddViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="container-fluid">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.Title) <label style="color:red"> *</label></label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2"> @Html.DisplayNameFor(model => model.Tags)<label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.TagsId,
                            new MultiSelectList(Model.Tags, "Id", "Name"),
                            new { @class = "form-control", @id = "tag-list", multiple = "multiple" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.CategoryId) <label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2"> @Html.DisplayNameFor(model => model.ViewCount) <label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ViewCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ViewCount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2"> @Html.DisplayNameFor(model => model.RateCount) <label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.RateCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RateCount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2"> @Html.DisplayNameFor(model => model.TotalRate) <label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.TotalRate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TotalRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.ShortDescription)<label style="color:red"> *</label></label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.ShortDescription, new { @cols = "92", @rows = "6", @class= "form-control" })
                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-capitalize" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.PostContent) <label style="color:red"> *</label></label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.PostContent, new { @cols = "92", rows = "6" })
                        @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-capitalize" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">@Html.DisplayNameFor(model => model.Publisher) <label style="color:red"> *</label></label>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control " } })
                    </div>
                </div>
                <br />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
                <a class="btn btn-danger" href="@Url.Action("Index", "PostAdmin")">Back</a>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Areas/Admin/Asset/Vender/bower_components/ckeditor/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('PostContent');

            $('#tag-list').select2();
        });
    </script>
}
